body {
    background: url('/static/images/backgroundimage.jpg');
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.chatbox-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
}

.chatbox {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatbox h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.chatbox input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chatbox button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chatbox button:hover {
    background-color: #0056b3;
}

#chatbotResponse {
    margin-top: 10px;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}